@font-face {
  font-family: 'whitney-black';
  src: url(../fonts/Whitney-Black.otf);
}

@font-face {
  font-family: 'whitney-bold';
  src: url(../fonts/Whitney-Bold.otf);
}

@font-face {
  font-family: 'whitney-light';
  src: url(../fonts/Whitney-Light.otf);
}

@font-face {
  font-family: 'whitney-medium';
  src: url(../fonts/Whitney-Medium.otf);
}

@font-face {
  font-family: 'whitney-semi';
  src: url(../fonts/Whitney-Semibold.otf);
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.col {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  font-family: "whitney-medium", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  height: auto;
}

#popup {
  position: fixed;
  width: 90%;
  max-width: 500px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  background: white;
  z-index: 23;
  display: none;
}

#popup #closeP {
  position: absolute;
  margin: 0;
  padding: 5px 10px;
  display: block;
  top: 0;
  right: 0;
  background: #d62e27;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
  z-index: 27;
}

#popup #closeP:hover {
  background: #7a174a;
}

#sstatus {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 23;
  font-family: "whitney-bold", Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: .8px;
  color: white;
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 27, 0.9);
  z-index: 22;
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
}

header .image {
  width: 50%;
  height: 100vh;
  background: url(../images/lineas.svg) 101% center no-repeat, url(../images/header.jpg) -300px center no-repeat;
  background-size: contain, cover;
  border: 0;
  position: relative;
}

header .image .logo {
  width: 450px;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

header .image .datos {
  width: 100%;
  position: absolute;
  bottom: 12%;
  text-align: center;
  font-size: 0px;
}

header .image .datos img {
  width: 35%;
}

header .image .datos img.left {
  border-radius: 10px 0px 0px 10px;
}

header .image .datos img.right {
  border-radius: 0px 10px 10px 0px;
}

header .bajada {
  width: 49%;
  height: 100vh;
  padding: 180px 20px;
  overflow-y: scroll;
}

header .bajada h1 {
  font-family: "whitney-bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  color: #7a174a;
  margin-left: 10px;
}

header .bajada a {
  width: 100%;
  margin-left: 10px;
  color: #9f9f98;
}

header .bajada form {
  margin-top: 50px;
}

header .bajada form .formGroup {
  width: 49.6%;
  margin-bottom: 30px;
  padding: 0px 10px;
}

header .bajada form .formGroup label {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 20px;
}

header .bajada form .formGroup input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border: 1px solid #ddddda;
  border-radius: 10px;
  font-size: 18px;
  color: #ddddda;
  background: white;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

header .bajada form .formGroup input:focus {
  border: 1px solid #7a174a;
  color: #5f5f58;
  -moz-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -o-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -ms-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
}

header .bajada form .formGroup input.alert {
  border: 1px solid red;
  color: red;
}

header .bajada form .formGroup button {
  padding: 16px 60px;
  border: 1px solid #ddddda;
  border-radius: 50px;
  font-size: 18px;
  font-family: "whitney-bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: #7a174a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d62e27, #7a174a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d62e27, #7a174a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  color: white;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

header .bajada form .formGroup button:hover {
  padding: 16px 65px;
  -moz-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -o-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -ms-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
}

header .bajada form .formGroup .custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

header .bajada form .formGroup .custom-select-wrapper.alert {
  border: 1px solid red;
  border-radius: 10px;
}

header .bajada form .formGroup .custom-select-wrapper.alert span {
  color: #ff7676;
}

header .bajada form .formGroup .custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

header .bajada form .formGroup .custom-select.open .custom-select__trigger {
  color: #5f5f58;
}

header .bajada form .formGroup .custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  color: #ddddda;
  background: white;
  cursor: pointer;
  border: 1px solid #ddddda;
  border-radius: 10px;
}

header .bajada form .formGroup .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ddddda;
  border-radius: 0px 0px 10px 10px;
  border-top: 0;
  background: white;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  overflow: hidden;
  -moz-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -o-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -ms-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
}

header .bajada form .formGroup .custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

header .bajada form .formGroup .custom-option {
  position: relative;
  display: block;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 300;
  color: #5f5f58;
  line-height: 60px;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

header .bajada form .formGroup .custom-option:hover {
  cursor: pointer;
  background-color: #ddddda;
}

header .bajada form .formGroup .custom-option.selected {
  color: white;
  background-color: #7a174a;
}

header .bajada form .formGroup .arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

header .bajada form .formGroup .arrow::before, header .bajada form .formGroup .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

header .bajada form .formGroup .arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #ddddda;
}

header .bajada form .formGroup .arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #ddddda;
}

header .bajada form .formGroup .open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: #7a174a;
}

header .bajada form .formGroup .open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
  background-color: #7a174a;
}

#respuestas header {
  width: 100%;
  border-bottom: 1px solid #d62e27;
  text-align: center;
  padding: 10px 0px;
}

#respuestas header img {
  width: 60%;
  max-width: 111px;
}

#respuestas main {
  text-align: center;
}

#respuestas main iframe {
  width: 100%;
  height: 80vh;
  border: 0px;
}

#respuestas main .descargar {
  margin: 20px 0px;
  display: inline-block;
  padding: 16px 60px;
  border: 1px solid #ddddda;
  border-radius: 50px;
  font-size: 18px;
  font-family: "whitney-bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: #7a174a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d62e27, #7a174a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d62e27, #7a174a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  color: white;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

#respuestas main .descargar:hover {
  padding: 16px 65px;
  -moz-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -o-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  -ms-box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
  box-shadow: 0px 20px 20px 0px rgba(214, 46, 39, 0.08);
}

@media (max-width: 1680px) {
  header .image {
    background: url(../images/lineas.svg) right center no-repeat, url(../images/header.jpg) -400px center no-repeat;
    background-size: contain, cover;
  }
}

@media (max-width: 1600px) {
  header .image {
    background: url(../images/lineas.svg) right center no-repeat, url(../images/header.jpg) -400px center no-repeat;
    background-size: contain, cover;
  }
  header .bajada {
    padding: 150px 20px;
  }
}

@media (max-width: 1440px) {
  header .image {
    background: url(../images/lineas.svg) right center no-repeat, url(../images/header.jpg) -300px center no-repeat;
    background-size: contain, cover;
  }
}

@media (max-width: 1366px) {
  header .image {
    background: url(../images/lineas.svg) right center no-repeat, url(../images/header.jpg) -250px center no-repeat;
    background-size: contain, cover;
  }
  header .bajada {
    padding: 80px 20px;
  }
}

@media (max-width: 1280px) {
  header .image {
    background: url(../images/lineas.svg) right center no-repeat, url(../images/header.jpg) -200px center no-repeat;
    background-size: contain, cover;
  }
}

@media (max-width: 1024px) {
  header .image {
    background: url(../images/lineas.svg) right center no-repeat, url(../images/header.jpg) -450px center no-repeat;
    background-size: contain, cover;
  }
}

@media (max-width: 1000px) {
  header .image {
    width: 100%;
    height: 100vh;
    background: url(../images/lineas-h.svg) center bottom no-repeat, url(../images/header.jpg) center center no-repeat;
    background-size: contain, cover;
  }
  header .image .logo {
    bottom: 45%;
  }
  header .image .datos {
    bottom: 20%;
  }
  header .bajada {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    overflow-y: visible;
  }
}

@media (max-width: 600px) {
  header .image {
    width: 100%;
    height: 85vh;
    background: url(../images/lineas-h.svg) center bottom no-repeat, url(../images/header-m.jpg) center center no-repeat;
    background-size: contain, cover;
  }
  header .image .logo {
    width: 80%;
    bottom: 50%;
  }
  header .image .datos {
    bottom: 10%;
  }
  header .image .datos img {
    width: 60%;
  }
  header .image .datos img.left {
    border-radius: 10px 10px 0px 0px;
  }
  header .image .datos img.right {
    border-radius: 0px 0px 10px 10px;
  }
  header .bajada {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    overflow-y: visible;
  }
  header .bajada form .formGroup {
    width: 100%;
  }
}
